body {
  padding-top: 70px; 
  font-family: 'Open Sans', 'Times New Roman', sans-serif;
  font-size: inherit;
  color: #000;
  line-height: 1rem;
  background-color: #eceff1;
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from { fill: 0; }
    to { fill: 0; }
}

a {
  color: #000;
  word-wrap: break-word;
}

a:hover, a:focus, a:active {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 1.3rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 0;
  font-weight: 700;
  text-align: justify;
}

h1 { font-size: 1.6rem; line-height: 2rem; }
h2 { font-size: 1.3rem; line-height: 2rem; }
h3 { font-size: 1.1rem; line-height: 2rem; }
h4 { font-size: 1rem; line-height: 1rem; }
h5 { font-size: 1rem; line-height: 1rem; }

/* Override */
#TableOfContents>ul ul ul {
  padding-left: 2rem;
}

        /* Parts:section */
        section {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        
        section>header {
          margin-bottom: .5rem;
          font-weight: 700;
        }
        
        section>div {
          font-size: .8rem;
        }
        
 
    
        
        /* Parts:article:grid */
        article.grid {
          margin-top: 0.5rem;
          margin-bottom: 0.25rem;
          /*background-color: #f00;*/
          height: 24rem;
          max-height: 24rem;
          overflow: hidden;
        }
        
        article.grid .image {
          min-height: 12rem;
        }
        
        article.grid .title {
          font-weight: bold;
          margin-bottom: .5rem;
          font-size: 1.1rem;
          line-height: 1.5rem;
          max-height: 4.5rem;
          overflow: hidden;
        }
        
        article.grid .summary {
          color: #333;
          max-height: 4rem;
          overflow: hidden;
        }
        
        article.grid footer {
          padding: 1rem;
          background-color: #ffffe6;
        }
        
        /* Parts:article:single */
        article.single {
          padding-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1rem;
          background-color: #fff;
          max-width:1200px;
        }
        
        article.single .image {
          max-width:786px;
          min-height: 24rem;
          margin-left:auto;
          margin-right:auto;
        }
        
        article.single aside {
          padding: 0 1rem;
        }
        
        article.single .body {
        
          margin: 0 auto;
          margin-bottom: 2rem;
          padding: 0 5rem;
        }
        
        article.single .body a {
          color: #78909c;
          text-decoration: underline;
        }
        
        article.single .body li {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
        
        article.single .body>p {
          margin: 1rem 0;
          line-height: 1.5rem;
          text-align:justify;
          text-indent: 30px;
        }
        
        article.single .body>h1 { padding-top: 60px; margin-top: -30px; margin-bottom: 0.5rem; }
        article.single .body>h2 { padding-top: 60px; margin-top: -30px; margin-bottom: 0.5rem; }
        article.single .body>h3 { padding-top: 60px; margin-top: -30px; margin-bottom: 0.5rem; }

.label {
  margin-top: 2px;
  margin-bottom: 2px;
  display:inline-block;
}

a.label {
  color: white !important;
  text-decoration: none !important;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.smfont { font-size: 1rem; }
.mdfont { font-size: 1.5rem; }
.lgfont { font-size: 2rem; }

.body .title {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.navbar {
  text-align: center;
  background-color: #7D1935;
}

.nav-pills {
  display: inline-block;
  vertical-align:middle;
}

.topmargin5 {
  margin-top: 4px;
}

.topmargin8 {
  margin-top: 8px;
}

.side-margins-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar a {
  color: white !important;
}

#content-selector {
  background-color: #7D1935;
}

#language-selector>ul {
  background-color: #337ab7;
}

.nav>li>a:hover, .nav>li>a:focus {
    color: white;
    text-decoration: none;
    background-color: brown;
}

.badge {
  color: white;
  background-color: black;
}

.nav>li>a {
  padding: 5px 10px;
}

.nav>li>a:hover .badge, .nav>li>a:focus .badge{
  color: black;
  background-color: white;
}

.navbar .dropdown-menu a:hover {
  background-color: brown;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: brown;
    border-color: #337ab7;
}

.nav-justified>li+li {
  margin-left:0px;
}

.nav-justified {
  margin-top: 20px;
}

.nav-justified a {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 0px !important;
  background-color: #deffde;
  white-space:nowrap;
}

.nav-justified > li:last-child > a {
  border-right: 1px solid black;
}

.nav-pills>li.active>a {
  font-weight: 700 !important;
  background-color: #00bc16 !important;
}

.nav-pills>li.active>a .badge {
  color: #00bc16 !important;
}


.label {
  padding-top: 0.3rem;
}

.margin0 {
  margin: 0px !important;
}

.margin10 {
  margin: 10px;
}


/*** SMALL SCREEN SETTINGS ***/
@media (max-width: 768px) {
  h1 { font-size: 1.4rem; line-height: 1.5rem; }
  h2 { font-size: 1.2rem; line-height: 1.5rem; }

  article.single .image {
    min-height: 12rem;
  }

  article.single .body pre {
    margin: 1rem -1rem;
  }
  article.single .body pre code {
    padding: 1rem 1rem;
  }

  article.single .body {
    padding: 0 1rem;
  }

  .btn-lg, .btn-group-lg>.btn {
    font-size: 1rem;
    line-height: 1;
    padding: 5px 8px;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 5px 8px;
    font-size: 1rem;
    line-height: 1;
  }

  .hidden768 {
    display:none;
  }

  .text-smaller {
    font-family: 'Open Sans', 'Times New Roman', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    line-height:32px;
  }

  ul.scroll-menu {
    max-height: 250px;
  }

  .nav-justified {
    margin-top: 0px;
  }

  .nav-justified>li>a {
    border-top: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-justified>li:first-child>a {
    border-top: 1px solid black;
}

 .cssdropdown label {
    margin-top: 20px;
    display: block;
  }
   
  .cssdropdown ul {
     display: none;
  }
    
  .cssdropdown input[type=checkbox]:checked ~ ul {
    display: block;
  }

}



