@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,greek,greek-ext');

/* Reset */
html {
  font-size: 16px;
}

body {
  padding-top: 70px; 
  font-family: 'Open Sans', 'Times New Roman', sans-serif;
  font-size: inherit;
  color: #000;
  line-height: 1rem;
  background-color: #eceff1;
}

a {
  color: #000;
  word-wrap: break-word;
}

a:hover, a:focus, a:active {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0;
}

ul, ol {
  padding: 0;
  padding-left: 1.5rem;
}

li {
  line-height: 1.5rem;
}

img {
  width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 0;
  font-weight: 700;
  text-align: justify;
}

h1 { font-size: 1.6rem; line-height: 2rem; }
h2 { font-size: 1.3rem; line-height: 2rem; }
h3 { font-size: 1.1rem; line-height: 2rem; }
h4 { font-size: 1rem; line-height: 1rem; }
h5 { font-size: 1rem; line-height: 1rem; }


/* Override */
#TableOfContents {
  font-size: .8rem;
  line-height: 1.5rem;
}

#TableOfContents a {
  display: block;
}

#TableOfContents ul ul a {
  text-decoration: none;
}

#TableOfContents>ul {
  padding-left: 0;
  list-style: none;
}

#TableOfContents>ul>li {
  font-weight: 900;
  margin-bottom: 1rem;
}

#TableOfContents>ul ul {
  padding-left: 0;
  font-weight: normal;
  list-style: none;
}

#TableOfContents>ul ul ul {
  padding-left: 1rem;
  list-style: none;
}

/* Layouts */
.l-header {
  background-color: #7D1935;
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-align: center;
}

.l-header a{
  color: white;
}

.l-footer {
color: white;
  background-color: #7D1935;
  padding: 1rem 0;
  text-align: center;
}

.l-footer a {
  color: white;
}

/* Parts:logo */
.p-logo {
  font-family: cursive;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.75);
}

/* Parts:share */
.p-share {
  text-align: center;
}

.p-share a .fa {
  display: inline-block;
  font-size: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 100%;
  margin: 0 0.2rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.p-share a .fa:hover {
    opacity: .7;
}

/* Parts:section */
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section>header {
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-weight: 700;
}

section>div {
  font-size: .8rem;
}

/* Parts:article */
article>a {
  display: block;
}

article .image {
  background-size: cover;
  background-position: center;
}

article time {
  font-size: .8rem;
}

/* Parts:article:li */
article.li {
  margin-bottom: .5rem;
}

article.li .cell {
  display:table-cell;
  vertical-align: middle;
}

article.li .image {
  width: 4rem;
  height: 4rem;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

article.li footer {
  display:table-cell;
  vertical-align: middle;
  padding-left: .5rem;
}

article.li time {
  font-size: .7rem;
}

article.li .title {
  font-size: .8rem;
  line-height: 1rem;
  font-weight: 700;
}

/* Parts:article:grid */
article.grid {
  margin-bottom: 2rem;
  /*background-color: #f00;*/
  height: 24rem;
  max-height: 24rem;
  overflow: hidden;
}

article.grid .image {
  min-height: 12rem;
}

article.grid .title {
  font-weight: bold;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-height: 4.5rem;
  overflow: hidden;
}

article.grid .summary {
  color: #333;
  max-height: 4rem;
  overflow: hidden;
}

article.grid footer {
  padding: 1rem;
  background-color: #ffffe6;
}

/* Parts:article:single */
article.single {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

article.single .image {
  max-width:786px;
  min-height: 24rem;
  margin-left:auto;
  margin-right:auto;
}

article.single aside {
  padding: 0 1rem;
}

article.single .body {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

article.single .body a {
  color: #78909c;
  text-decoration: underline;
}

article.single .body li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

article.single .body>p {
  margin: 1rem 0;
  line-height: 1.5rem;
  text-align:justify;
  text-indent: 30px;
}

article.single .body>h1 { padding-top: 60px; margin-top: -30px; margin-bottom: 0.5rem; }
article.single .body>h2 { padding-top: 60px; margin-top: -30px; margin-bottom: 0.5rem; }
article.single .body>h3 { padding-top: 60px; margin-top: -30px; margin-bottom: 0.5rem; }

/* Helpers */
ul.h-inline,
ol.h-inline {
  padding-left: 0;
}

.h-inline li {
  display: inline-block;
  margin-right: .5rem;
}

.summary {
  text-align:justify;
}

p { 
  line-height: 1em;
  /* text-shadow: 1px 1px 1px #ccc;*/
}

li {
  text-align:justify;
}

figure {
  display: table; 
  margin: 5px auto;
}

figure figcaption { 
  caption-side: bottom;
  display: table-caption; 
  font-size: 14px;
  margin-top: 5px;
  text-align:justify;
}

.floatleft {
  float:left;
  width:initial;
  margin-right: 7px;
}

.floatright {
  float:right;
  width:initial;
  margin-left: 7px;
}

.floatcenter {
  display:block;
  margin:5px auto;
  width:initial;
  max-width: 100%;
}

.matheq {
  display:table; 
  margin: auto;
  padding:10px;
  border:1px solid black;
}

.MathJax_Display {
  margin: auto !important;
}

.height5 {
  height:5rem;
}

.height7 {
  height:7rem;
}

.height9 {
  height:9rem;
}

.height10 {
  height:10rem;
}

.height12 {
  height:12rem;
}

.height15 {
  height:15rem;
}

.height20 {
  height:20rem;

}

.border {
  border:1px solid #021a40;
  border-radius:20px;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.doubleborder {
   padding:1px;
   border:1px solid #021a40;
   box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  font-size: 18px;
  border: 1px double green;
  box-shadow: 5px 6px 4px 0px rgba(0,0,0,0.75);
}

.highlight {
  background:white !important;
  display:inline-block;
}

table {
  caption-side:bottom;
}

th {
  font-weight: normal;
}

.table-hover tr:hover {
  background-color: #ff0 !important;
} 

td {
  padding: 2px;
  vertical-align:middle;
}

.coloredtable {
  border-collapse: collapse;
  margin:auto; 
}

.coloredtable th {
  height: 2em;
  padding: 5px;
  font-weight: bold;
  background-color: #4444dd;
  color: white;
  text-align: center;
}

.coloredtable td {
  height: 2em;
}

.coloredtable tr:nth-child(odd) {
  background-color: #d2d2d2;
}

.moocs-table tr th { text-align:center; }
.moocs-table tr td:first-child { max-width:400px; }
.moocs-table tr td:nth-child(2) {  max-width:300px; text-align:center;  }
.moocs-table tr td:nth-child(3) { text-align:center; }
.moocs-table tr td:last-child { text-align:right; }

body:not(.en) :lang(en), 
body:not(.el) :lang(el), 
body:not(.fr) :lang(fr) { 
    display: none; 
}

select {
  margin-top: 3px;
  margin-bottom: 3px;

}

.form-control {
  padding-left: 5px;
  padding-right: 0px;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.btn {
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

a.btn.btn-sm {
 padding:1px 6px;
}

label.btn.btn-default.active {
 margin-top: 2px;
 margin-bottom: 2px;
 background-color:blue;
 border-color:yellow;
 color:yellow;
 font-weight:bold;
 box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.label {
  margin-top: 2px;
  margin-bottom: 2px;
  display:inline-block;
}

a.label {
  color: white !important;
  text-decoration: none !important;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.smfont {
 font-size: 1rem;
}

.mdfont {
  font-size: 1.5rem;
}

.lgfont {
  font-size: 2rem;
}

.body .title {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.center {
  text-align: center;
}

.csstooltip {
    position: relative;
    display: inline-block;
    margin-right:5px;
    border-bottom: 1px dotted black;
}

.csstooltip .badge-info {
  background-color:#269abc;
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.tooltiptext {
    display: none;
    width: 150px;
    background-color:#269abc;
    color: #fff;
    font-weight:bold;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -75px;
    box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}

.csstooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.csstooltip:hover .tooltiptext {
    display: initial;
}

.fa-facebook {
  color:#fff;
  background:#4267b2;
} 
.fa-linkedin {
  color:#fff;
  background:#007bb6;
}
.fa-twitter {
  color:#fff;
  background:#00aced;
}

.fa-google-plus {
  color:#fff;
  background:#dd4b39;
}

.fa-pinterest-p {
  color:#fff;
  background:#bd081c;
}

.fa-get-pocket {
  color:#dd4b39;
}

#search-section {
  display:none;
}

#search-field {
  margin-right:0.5rem;
}

#results-section {
  display:none;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pagination {
  margin-top: 4px;
}

.pag-prev {
  float:left; border-radius:15px;
}

.pag-next {
  float:right; border-radius:15px;
}

.pagination > li > a {
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
}


.max-width640 {
  max-width: 640px;
}

.navbar {
  text-align: center;
  background-color: #7D1935;
}

.nav-pills {
  display:inline-block;
}

.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar a {
  color: white !important;
}

#content-selector {
  background-color: #7D1935;
}

#language-selector {
  background-color: #337ab7;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: brown;
}

.navbar .dropdown-menu a:hover {
  background-color: brown;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: brown;
    border-color: #337ab7;
}

ul.scroll-menu {
    /*position: relative; display: inherit !important;*/
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 10 !important;
    left: 0 !important;
    width: auto;
    height: auto;
    max-height: 500px;
    margin: 0;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

/*.dropdown-menu {
  max-height: 500px;
  margin:0;
  overflow-y: scroll;
  overflow-x: hidden;
} */

@media (max-width: 768px) {
  h1 { font-size: 1.4rem; line-height: 1.5rem; }
  h2 { font-size: 1.2rem; line-height: 1.5rem; }

  article.single .image {
    min-height: 12rem;
  }

  article.single .body pre {
    margin: 1rem -1rem;
  }
  article.single .body pre code {
    padding: 1rem 1rem;
  }

  article.single .body {
    padding: 0 1rem;
  }

  .btn-lg, .btn-group-lg>.btn {
    font-size: 1rem;
    line-height: 1;
    padding: 5px 8px;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 5px 8px;
    font-size: 1rem;
    line-height: 1;
  }

  .hidden768 {
    display:none;
  }

  .text-smaller {
    font-family: 'Open Sans', 'Times New Roman', sans-serif;
    font-size: 1rem;
    letter-spacing: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    line-height:32px;
  }

  ul.scroll-menu {
    max-height: 250px;
  }
}

.bordered table, .bordered th, .bordered td  {
   border: 1px solid black;
}

hr {
  border-top-color: darkgray;
}
